.product {
  padding-bottom: 2rem;
  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    flex: 0 0 40%;
  }

  &__link {
    flex: 0 0 60%;
    height: 60%;
    padding: 1rem;
    position: relative;
  }

  &__title {
    font-size: 0.8rem;
  }

  &__description {
    font-size: 0.7rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &__add-to-cart {
    position: absolute;
    bottom: 0.8rem;
    width: 60%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all 0.2s;
    padding: 3px 12px;
  }

  &:hover &__add-to-cart {
    visibility: visible;
    opacity: 1;
  }

  &:hover .dots {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;
    &__add-to-cart {
      visibility: visible;
      opacity: 1;
    }

    & .dots {
      display: inline-block;
    }
  }
}
